@import url('https://fonts.googleapis.com/css?family=Jura:400');
* { font-family: Jura, Arial; font-weight: 400;margin: 20px }
body { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,p { margin: 0; }
.form {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  margin: auto 0;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 32px 64px rgba(0,0,0,0.2);
}

.form label {
  text-align: left;
  padding-bottom: 2px;
}
.form input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.form button {
  padding: 10px;
  border:1px solid rgba(0,0,0,0);
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
